@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

:root {
    --primary-color: #012970;
    --secondary-color: #fda05e;
    --color-sky: #4574C7;
    --light-green: #2E8B57;
    --text-dark: #000000;
    --text-gray: #595858;
    --bg-light: #E9F1F6;
    --bg-cloud: #BCE4FC;
    --bg-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: var(--bg-light);
    min-height: 100vh;
}

.navbar {
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
}

.navbar-toggler{
    border: 0;
    background-color: transparent;
    font-size: 30px;
    color: var(--bg-white);
    padding: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: var(--bg-white);
    font-size: 14px;
    transition: all 0.3s linear;
}

.nav-link:hover {
    color: var(--secondary-color);
}

.nav-link.active {
    color: var(--secondary-color) !important;
}

.nav-link:focus {
    color: var(--secondary-color);
}

.username-info {
    color: var(--bg-white);
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s linear;
}

.logout-btn {
    font-size: 14px;
}

.page-container{
    padding: 1rem;
}

.box-container {
    margin: 30px 20px;
    background-color: var(--bg-white);
    padding: 1.2rem;
    border-radius: 10px;
}

.box-container .add-btn{
    font-size: 14px;
    font-weight: 600;
}

.table-header h3 {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
}

table th {
    font-size: 14px;
}

table td {
    font-size: 12px;
}

table td .btn {
    font-size: 10px;
}


/* Login Page */

.login-wrapper {
    min-height: 100vh;
    background-color: var(--bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: var(--bg-white);
    max-width: 480px;
    max-height: 516px;
    border-radius: 10px;
}

.login-header {
    margin-top: 20px;
    margin-bottom: 10px;
}

.login-header__title {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
}

.login-header__text {
    color: var(--secondary-color);
    font-size: 12px;
}

.login-form {
    padding: 0 20px;
}

.login-form input {
    padding: 12px 20px;
    font-size: 12px;
    color: var(--text-dark);
}

.login-form input:focus {
    box-shadow: none;
    border-color: var(--primary-color);
}

.button-container {
    margin: 35px 0;
}

.register-button-container {
    margin: 35px 0;
}


.pass-container {
    display: block;
    position: relative;
}

.show-btn {
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 1.1rem;
    top: 0.8rem;
    font-size: 12px;
}

.forgot-btn {
    font-size: 9px;
    color: var(--text-gray);
    font-weight: 300;
    text-decoration: none;
}

.login-btn {
    border: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--bg-white);
    background-color: #FF9D33;
    border-radius: 50px;
    padding: 5px 35px;
}


.register-link {
    font-size: 1rem;
    color: var(--text-gray);
    font-weight: 500;
    text-decoration: none;
    margin: 10px 0;
}


@media (min-width: 768px) {

    table th {
        font-size: 16px;
    }

    table td {
        font-size: 14px;
    }

    table td .btn {
        font-size: 14px;
    }

    .login-header {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .login-header__title {
        font-size: 30px;
    }

    .login-header__text {
        font-size: 13px;
    }

    .login-form {
        padding: 0 30px;
    }

    .login-form input {
        padding: 15px 30px;
        font-size: 15px;
    }

    .button-container {
        margin-top: 70px;
    }

    .show-btn {
        right: 1.25rem;
        top: 1rem;
        font-size: 16px;
    }

    .forgot-btn {
        font-size: 10px;
    }

    .login-btn {
        font-size: 25px;
        padding: 5px 70px;
    }
}

@media (min-width: 992px) {
    .nav-link {
        font-size: 1rem;
    }

    .username-info {
        font-size: 1rem;
    }

    .page-container{
        padding: 0;
    }
    
    .box-container {
        margin: 50px 100px;
        background-color: var(--bg-white);
        padding: 1.5rem;
        border-radius: 10px;
    }

    .box-container .add-btn{
        font-size: 16px;
    }

    .table-header h3 {
        font-size: 1.5rem;
    }

    table th {
        font-size: 18px;
    }

    table td {
        font-size: 16px;
    }

    table td .btn {
        font-size: 16px;
    }

    .login {
        width: 480px;
        height: 516px;
    }

    .login-header {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .login-header__title {
        font-size: 35px;
    }

    .login-header__text {
        font-size: 15px;
    }

    .login-form {
        padding: 0 30px;
    }

    .login-form input {
        padding: 15px 30px;
        font-size: 15px;
    }

    .button-container {
        margin-top: 70px;
    }

    .show-btn {
        right: 1.25rem;
        top: 1rem;
        font-size: 16px;
    }

    .forgot-btn {
        font-size: 10px;
    }

    .login-btn {
        font-size: 25px;
        padding: 5px 70px;
    }

}